
*~
*linux64GccDPOpt
*.dep
*lnInclude
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/constant/polyMesh/boundary
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/constant/polyMesh/faces
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/constant/polyMesh/neighbour
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/constant/polyMesh/owner
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/constant/polyMesh/points
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/turbineOutput/
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/processor*
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/log.*
