
*~
*linux64GccDPOpt
*.dep
*lnInclude
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/constant/polyMesh/boundary
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/constant/polyMesh/faces
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/constant/polyMesh/neighbour
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/constant/polyMesh/owner
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/constant/polyMesh/points
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/turbineOutput/
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/processor*
tutorials/pisoTurbinesFoam/axialFlowWindTurbine/log.*

tutorials/pimpleFoam/crossFlowTurbineAL/0/
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/cellLevel
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/cellZones
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/faceZones
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/faces
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/level0Edge
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/neighbour
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/owner
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/pointLevel
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/pointZones
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/points
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/refinementHistory
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/sets/
tutorials/pimpleFoam/crossFlowTurbineAL/constant/polyMesh/surfaceIndex
tutorials/pimpleFoam/crossFlowTurbineAL/log.*
